<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="14D3031D-F171-4D9E-B0B0-41B64BA4E65D"
    Version="1.0.0.0"
    Publisher="CN=MobileOSDev" />

  <mp:PhoneIdentity PhoneProductId="14D3031D-F171-4D9E-B0B0-41B64BA4E65D" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PowerDialogUWP</DisplayName>
    <PublisherDisplayName>MobileOSDev</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="MobileOSdev.PowerDialogComponent"
      StartPage="index.html">

      <uap:VisualElements
        DisplayName="PowerDialogUWP"
        Description="PowerDialogComponent for CoreShell"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square44x44Logo="images\square44logo.png">
		
        <uap:SplashScreen Image="images\splashscreen.png" />
		<uap:InitialRotationPreference><uap:Rotation Preference="portrait" /><uap:Rotation Preference="portraitFlipped" /></uap:InitialRotationPreference>

      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="powerdialogcomponent">
            <uap:DisplayName>PowerDialogComponent</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
